<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <!--
        <add key="CopernicusSearchInterval" value="MONTHS" />
        <add key="DataAPI" value="https://apihub.copernicus.eu/apihub" />
        <add key="SearchArea" value="POLYGON((10.668743 55.503501,10.668743 55.233606,10.192956 55.233606,10.192956 55.503501,10.668743 55.503501))" />
        <add key="APIAuth" value="Basic ZnJob3UxODp1RDQ0JXpjNVhqJGZhSEJqaw==" />
        <add key="KafkaAddress" value="localhost:9092"/>
        <add key="KafkaTopic" value="NDVI"/>
        <add key="hdfsImageIngestPath" value="/app/img"/>
        <add key="hdfsImageIngestRedImage" value=""/>
        <add key="hdfsImageIngestNirImage" value=""/>
        <add key="kafkaURL" value=""/>
        <add key="ndviPixelIngestTopic" value="img"/>
        <add key="sparkAppName" value=""/>
        <add key="sparkMasterURL" value=""/>
        <add key="sparkMaxMemory" value=""/>
        <add key="sparkCheckpointLocationURL" value=""/>
        <add key="pythonProcessor" value="/app/PythonProcessor.py"/>
        <add key="pythonImg" value="/app/img.py"/>
        -->
    </appSettings>
</configuration>